@media(max-width:480px){
    .main_page{
    display: inline-block;
    flex-direction: column;
    justify-content: space-between;   
}



.homepage_button{
    background-color: #EF8276;
    height: 20vh;
    width: 50vh;
    text-align: center;
    margin: auto;
}
}

