@media(max-width:480px){
    .main_page{
    display: flex;
    flex-direction: column;  
    align-items: center;
}



.homepage_button{
    background-color: #EF8276;
    font-size: 3vh;
    height: 17vh;
    width: 40vh;
    margin: 8%;
    justify-content: space-evenly;
    border-radius: 10%;
    text-align: center;
    padding-top: 13%;
    color: white;
    font-weight: bold;
    font-size: 25px;
    box-shadow: 1px 1px 2px black;
}
.app_logo{
    margin-top: 20px;
}
}

