@media(max-width:480px){
.recipe_section{
    border-radius: 5%;
    background-color: #EF8276;
    width: 80%;
    height: 20vh;    
    color: white;
    margin: 4%;
    /* padding-top: 1vh; */
}
.recipe_section > ul > li {
    list-style: none;
}

.recipe_image{
    width: 120px;
    height: 120px;
    /* padding-right: 10%;
    padding-top: 3vh;
    padding-bottom: 3vh; */
}

.recipe_details{
    padding-left: 10%;
}

.recipe_details_box{
    display: flex;
    flex-direction: row;
    margin-top: auto;
    margin-bottom: auto;
}

#list {
    list-style: none;
}


}