@media(max-width:480px){
.recipe_section{
    background-color: #EF8276;
    width: 80%;
    border-radius: 5%;

}
.recipe_section > ul > li {
    list-style: none;
}

.recipe_image{
    width: 30%;
}
}