@media(max-width:480px){
.recipe_section{
    border-radius: 5%;
    background-color: #EF8276;
    width: 80%;
    height: 20%;
    margin: 4%;
    /* padding-top: 1vh; */
}
.recipe_section > ul > li {
    list-style: none;
}

#recipe_image{
    width: 150px;
    height: 150px;
    border-radius: 10px;

}

.recipe_details{
 margin-top: 8%;
 margin-right: 5%;
 margin-left: 5%;
 color: white;

}

.recipe_details_box{
    display: flex;
    flex-direction: row;
    margin-top: auto;
    margin-bottom: auto;
    justify-content: center;
}

#list {
    list-style: none;

}
.recipe_details_image{
    width: 60%;
    margin-top: 8%;
    margin-bottom: 8%;
}


}