@media(max-width:480px){

.individual_recipe{
    background-color: #EF8276;
    width: 80%;
    border-radius: 20px;
    color: white;
}

.individual_recipe > ul > li {
    list-style: none;
}
.instruction_points{
    list-style: decimal outside;
}
#individual_recipe_header{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    height: 4vh;
    font-size: medium;
    align-items: center;
    justify-content: space-evenly;
}

#serving_size{
    width: 10vw;
    margin-left: 5px;
    margin-right: 10px;
    
}

#add_recipe_button{
    border-radius: 8px;

    color:black;
    background-color: white;

}
}