@media(max-width:480px){

.individual_recipe{
    background-color: #EF8276;
    width: 80%;
    border-radius: 20px;
    color: white;
    box-shadow: 1px 1px 2px black;
}

.individual_recipe > ul > li {
    list-style: none;
}
.instruction_points{
    list-style: decimal outside;
}
#individual_recipe_header{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    height: 4vh;
    font-size: medium;
    align-items: center;
    justify-content: space-evenly;
}

#serving_size{
    width: 7vw;
    margin-left: 2px;
    margin-right: 10px;
    text-align: center;

}

#add_recipe_button{
    border-radius: 8px;
    box-shadow: 1px 1px 1px black;
    color:black;
    background-color: white;

}
#individual_recipe_name{
    margin-left: 25%;
    margin-right: 25%;

}
#individual_recipe_image{
    margin-right: 5%;
    margin-left:5%
}
}