@media(max-width:480px){

    .ingredient_list{
        margin-top: 5%;
        padding-top: 3%;
        padding-left: 3%;
        background-color: #EF8276;
        width: 80%;
        border-radius: 5%;
        color: white;
        box-shadow: 1px 1px 2px black;
    }
    }